@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Great+Vibes&display=swap");
* {
  font-weight: 400;
  font-family: serif;
  box-sizing: border-box;
}

.header-bg {
  background: rgb(226, 227, 229);
  background: linear-gradient(
    90deg,
    rgb(226, 227, 229) 50%,
    rgba(249, 250, 251, 1) 100%
  );
}

.gallery-bg {
  background: rgb(209, 213, 219);
  background: linear-gradient(
    270deg,
    rgb(226, 227, 229) 0%,
    rgba(249, 250, 251, 1) 40%
  );
}

.effect-shine {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.7) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.7) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    mask-position: 130%;
  }

  to {
    mask-position: -30%;
  }
}

.brand {
  font-family: "Great Vibes", cursive;
  color: rgb(50, 50, 50);
}

.title {
  font-family: "Cinzel Decorative", cursive;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(black, black);
  background-size: 0 3px;
  background-position: 0 105%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 3px;
}
